#!/bin/bash
PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin

# 定时命令
# * * * * * root run.sh care >> care.log 2>&1

# 工作目录
WORKDIR=$(cd $(dirname $0); pwd)
if [ "$(uname)" == "Darwin" ];then
	SP="/"
elif [ "$(expr substr $(uname -s) 1 5)" == "Linux" ];then
	SP="/"
elif [ "$(expr substr $(uname -s) 1 10)" == "MINGW32_NT" ];then
	SP="\\"
fi

# Server酱通知(http://sc.ftqq.com/3.version) token
TOKEN=""
BIN="currentPrice.bin"
CONFIG="config.ini"

# 操作对象
op='none'
if [ -n "$1" ];then
	op=$1
fi

# 消息通知函数
notify()
{
	curl -o /dev/null -s "https://sc.ftqq.com/${TOKEN}.send?text=${BIN}${1}&desc=${2}";
}
log()
{
	echo `date +%Y-%m-%d`" $1"
}

# pika
pikaCount()
{
	echo `ps  aux | grep 'pika' | grep -v 'grep' | wc -l`;
}
pikaStart()
{
	cd $WORKDIR && pika -c ./pika.conf;
}

# redis
redisCount()
{
	echo `ps  aux | grep 'redis-server' | grep -v 'grep' | wc -l`;
}
redisStart()
{
	cd $WORKDIR && redis-server ./redis.conf;
}

# currentPrice
count()
{
	echo `ps  aux | grep $BIN | grep $CONFIG | grep -v 'grep' | wc -l`;
}

# 运行程序
run()
{
	#切换到运行目录
	cd $WORKDIR

	#设置日志存储
	if [ ! -d "${WORKDIR}${SP}log" ]; then
		mkdir "${WORKDIR}${SP}log"
	fi
	local DATA_DAY=`date +%Y-%m-%d`
	local DATA_SECOND=`date +%Y-%m-%d-%H-%M-%S`
	local LOG_NAME="${WORKDIR}${SP}log${SP}${BIN}-${DATA_DAY}.log"
	local BACKUP_LOG_NAME="${WORKDIR}${SP}log${SP}${BIN}-${DATA_SECOND}_bak.log"
	#备份日志
	if [ -a "${LOG_NAME}" ]; then
		mv ${LOG_NAME} ${BACKUP_LOG_NAME}
	fi

	nohup $@ >> ${LOG_NAME} 2>&1 &

	log "运行程序："$@
	log "bin: $BIN pid: $!  log: ${LOG_NAME} "
	log "${BIN} 进程数：`count`"
	return $!
}
# 开始函数
start()
{
	run ./${BIN} -f ${CONFIG}
	return $!
}
# 结束函数
stop()
{
	local num=`count`
	while [ $num -gt 0 ]; do
		log "当前进程数："$num
	    ps  aux | grep $BIN | grep $CONFIG | grep -v 'grep' | awk '{print $2}' | xargs -I {} kill -9 {}
	    num=`count`
	done
	log "当前进程数："$num

	return $!
}

careCurrentPrice()
{
	local num=`count`
	if [ $num -lt 1 ];then
		start
		num=`count`
		notify "现价接口挂掉重启~" "${BIN}进程数：$num"
	fi;
}

carePika()
{
	local num=`pikaCount`
	if [ $num -lt 1 ];then
		pikaStart
		num=`pikaCount`
		notify "pika挂掉重启~" "pika进程数：$num"
		log "pika restart,${BIN}进程数：$num" 
	fi;
}

careRedis()
{
	local num=`redisCount`
	if [ $num -lt 1 ];then
		redisStart
		num=`redisCount`
		notify "redis挂掉重启~" "redis进程数：$num"
		log "redis restart,${BIN}进程数：$num" 
	fi;
}

# 操作
case $op in 
	care) 
		#carePika
		careRedis
		careCurrentPrice
	;;
	start | begin) 
		start
		log "start finish" 
	;; 
	stop | end) 
		stop
		log "stop finish" 
	;;
	restart | reload) 
		stop
		start
		log "restart finish" 
	;; 
	status) 
		#log "pika进程数：`pikaCount`" 
		log "redis进程数：`redisCount`" 
		log "${BIN}进程数：`count`" 
		
	;;
	*) 
		echo $0" [start|stop|restart|status|care]" 
	;; 
esac